/* GENERAL */

html {
	box-sizing: border-box;
}

body {
	font-family: 'Karla', 'Fjalla One', 'Playfair Display', sans-serif;
}

.global-wrapper {
	margin: 0 auto;
	width: 1210px; /* width 1170 + horizontal padding */
	padding: 0 20px;
}

